backports.entry-points-selectable==1.1.1
CacheControl==0.12.10
cachy==0.3.0
cffi==1.15.0
cleo==0.8.1
clikit==0.6.2
crashtest==0.3.1
cryptography==35.0.0
debugpy==1.2.1
distlib==0.3.3
docopt==0.6.2
filelock==3.3.2
jedi==0.18.1
jeepney==0.7.1
keyring==21.8.0
lockfile==0.12.2
msgpack==1.0.2
packaging==20.9
parso==0.8.3
pastel==0.2.1
pexpect==4.8.0
pipreqs-amasad==0.4.10
pkginfo==1.8.2
platformdirs==2.5.2
pluggy
poetry
poetry-core
ptyprocess
pycparser
pyflakes
pylev
pyparsing
python-lsp-jsonrpc
reduests-toolbelt
rope
SecretStrorage
shellingham
six
toml
tomlkit
ujson
virtualenv
webencodings
yapf
yarl
